<ion-view view-title="Set up stumps" class="setUpPage">
  <ion-content scroll="false">
    <video autoplay></video>

    <script>
      var errorCallback = function(e) {
        console.log('Reeeejected!', e);
      };

      // Not showing vendor prefixes.
      navigator.getUserMedia({video: true, audio: true}, function(localMediaStream) {
        var video = document.querySelector('video');
        video.src = window.URL.createObjectURL(localMediaStream);

        // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
        // See crbug.com/110938.
        video.onloadedmetadata = function(e) {
          // Ready to go. Do some stuff.
        };
      }, errorCallback);
    </script>
    <div class="item range stumpsSize">
      <i class="icon icon-cricketBall icon1"></i>
      <input type="range" name="volume" min="0" max="20">
      <i class="icon icon-cricketBall icon2"></i>
    </div>
    <button class="goLiveBtn" ng-click="goToLbwPage()">Go Live</button>
  </ion-content>
</ion-view>
