@font-face {
    font-family: 'PAYBACK';
    src: url('fonts/PAYBACK.eot');
    src: url('fonts/PAYBACK.eot') format('embedded-opentype'),
         url('fonts/PAYBACK.woff2') format('woff2'),
         url('fonts/PAYBACK.woff') format('woff'),
         url('fonts/PAYBACK.ttf') format('truetype'),
         url('fonts/PAYBACK.svg#PAYBACK') format('svg');
}
