/*Home Page*/
.homePage .beginBtn{
  position: absolute;
  width: 95vw;
  height: 10vh;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right: 0;
  text-align: center;
  background: #aeaeae;
  color: #efefef;
}

/*Instructions Page*/
.instructionsPage .setUpBtn{
  position: absolute;
  width: 95vw;
  height: 10vh;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right: 0;
  text-align: center;
  background: #aeaeae;
  color: #efefef;
}

/*SetUp Page*/
.setUpPage .goLiveBtn{
  position: absolute;
  width: 95vw;
  height: 10vh;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right: 0;
  text-align: center;
  background: #aeaeae;
  color: #efefef;
}

/*Lbw Page*/
.lbwPage .howzatBtn{
  position: absolute;
  width: 95vw;
  height: 10vh;
  top: 80vh;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right: 0;
  text-align: center;
  background: #aeaeae;
  color: #efefef;
}


.trackervid video, canvas {
  margin-left: 0px;
  margin-top: 0vh;
  position: absolute;
}

.lbwPage .quickstats{
    margin-top: 50vh;
    position: absolute;
}


.lbwPage h2{
  font-size: 21px;
}



/*Decision Page*/
.decisionPage .homeBtn{
  position: absolute;
  width: 95vw;
  height: 10vh;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right: 0;
  text-align: center;
  background: #aeaeae;
  color: #efefef;
}
